registry=https://artifactory.dhl.com/api/npm/npm/
_auth = c3J2X3NkNTIxX2plbmtpbnM6QVAyVEpCNk5Ra2ZFQ0pvQjlQbUp4dzFrMTdv
email = srv_sd521_jenkins@dhl.com
always-auth = true
//artifactory.dhl.com/api/npm/npm/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJhUjBHRzBTbWliMUlQdnB1WGw4M1IwdUhjODQ2V3NWVlRGcVJqb3Z3Q2FVIn0.eyJzdWIiOiJqZi1hcnRpZmFjdG9yeUBkY2YyOGZlYy1hNTZmLTRmYzItOWY4ZS1jMGEyODM2ZDcwNThcL3VzZXJzXC9zcnZfc2Q1MjEtYXJ0aWZhY3RvciIsInNjcCI6Im1lbWJlci1vZi1ncm91cHM6KiBhcGk6KiIsImF1ZCI6ImpmLWFydGlmYWN0b3J5QGRjZjI4ZmVjLWE1NmYtNGZjMi05ZjhlLWMwYTI4MzZkNzA1OCIsImlzcyI6ImpmLWFydGlmYWN0b3J5QGRjZjI4ZmVjLWE1NmYtNGZjMi05ZjhlLWMwYTI4MzZkNzA1OCIsImlhdCI6MTUyODg5OTIyMiwianRpIjoiMTZhY2I2MmItYzFhZC00YmM5LWE1ZGUtYTM3NzllYzM1OTViIn0.KIYZnD4ahTXt42UtT5Oq1n9Bc3Obn6QOXy8TsNwLa0spaHYE4TukzILLd1Q2Y-iOYYxACV-S1gMky7IzBrm9jFw2pUymRdNqvkgoXmI3-niw8g8VM-YcCFqajWNNNHeM7xRCEIHc9GYVb7sh8gx3SIMNAKr0dGCb8UeLsnv6Q1aXDVmDN3RouU5QVCSa9QO22IB32TVL3GgCNUMgr2bcfYlnXckjiFmShTSRZA2UcVz1qMapzlJq_HIXkwNrO-IgGdRCXaBQjVtQT-MY9Xxw2oVvAFN48zhnTai9lR42enDkPNCTSPCDlSd5JIFk8urYWi1MA56XKs2bgBjrwyBALQ
